################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Focus.WebApi/.vs/Focus.WebApi/FileContentIndex/8a4f020e-8501-4eb1-bc87-ce046cd618ff.vsidx
